html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: black;
}

#root,
.App {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.controls {
  width: 400px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 2rem;
  background: grey;
  overflow-y: auto;
}
